body {

    background: #faf8ef;

    font-family: Arial, sans-serif;

    text-align: center;

    margin: 0;

    padding: 0;

    overflow: hidden;

    touch-action: none;

    user-select: none;

}

h1 {

    font-size: 70px;

    color: #776e65;

    margin: 20px 0;

}

.top {

    display: flex;

    justify-content: center;

    gap: 15px;

    margin-bottom: 15px;

}

.scoreBox {

    background: #bbada0;

    color: white;

    padding: 10px 25px;

    border-radius: 8px;

    font-weight: bold;

    font-size: 18px;

}

.scoreBox span {

    display: block;

    font-size: 28px;

}

#restart {

    background: #8f7a66;

    color: white;

    border: none;

    border-radius: 8px;

    padding: 12px 25px;

    font-size: 18px;

    cursor: pointer;

    margin-bottom: 20px;

}

#gameContainer {

    position: relative;

    display: inline-block;

}

#board {

    background: #bbada0;

    display: grid;

    grid-template-columns: repeat(4, 1fr);

    gap: 10px;

    padding: 10px;

    border-radius: 10px;

    width: 420px;

    height: 420px;

}

.cell {

    background: #cdc1b4;

    border-radius: 6px;

    display: flex;

    justify-content: center;

    align-items: center;

    font-size: 45px;

    font-weight: bold;

    color: #776e65;

}

/* цвета плиток */

.tile-2 {

    background: #eee4da;

}

.tile-4 {

    background: #ede0c8;

}

.tile-8 {

    background: #f2b179;

    color: white;

}

.tile-16 {

    background: #f59563;

    color: white;

}

.tile-32 {

    background: #f67c5f;

    color: white;

}

.tile-64 {

    background: #f65e3b;

    color: white;

}

.tile-128 {

    background: #edcf72;

    color: white;

}

.tile-256 {

    background: #edcc61;

    color: white;

}

.tile-512 {

    background: #edc850;

    color: white;

}

.tile-1024 {

    background: #edc53f;

    color: white;

}

.tile-2048 {

    background: #edc22e;

    color: white;

}

/* Game Over */

#gameOver {

    display: none;

    position: absolute;

    top: -5px;

    left: 0;

    width: 100%;

    height: 100%;

    background: rgba(238, 228, 218, 0.75);

    border-radius: 10px;

    align-items: center;

    justify-content: center;

    color: #776e65;

}

#gameOver h2 {

    font-size: 45px;

}

/* телефон */

@media (max-width: 600px) {

    h1 {

        font-size: 38px;

        margin: 5px 0;

    }

    .top {

        margin-bottom: 5px;

    }

    .scoreBox {

        padding: 5px 12px;

    }

    .scoreBox span {

        font-size: 18px;

    }

    #restart {

        padding: 7px 15px;

        margin-bottom: 8px;

    }
#board {

    width: 78vw;

    height: 78vw;

    gap: 1.5vw;

    padding: 1.5vw;

}

.cell {

    font-size: 7vw;

}
   
    #gameOver h2 {

        font-size: 35px;

    }

}
@media (max-width: 600px) {

    #board {

        width: 78vw;

        height: 78vw;

        padding: 2vw;

        gap: 1.5vw;

    }

    .cell {

        font-size: 7vw;

    }

}